/* Background */
.signup-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #a8edea, #fed6e3);
}

/* Left Side */
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  text-align: center;
}

/* Right Side */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form Box */
.form-box {
  background: white;
  padding: 45px;
  border-radius: 25px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  
}
h1{
  font-size: 40px;
}

/* Social buttons */
.social {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.social button {
  width: 48%;
  padding: 10px;
  border: none;
  background: #2ecc71;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Divider */
.divider {
  margin: 10px 0;
  color: gray;
}

/* Inputs */
form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

/* Messages */
.error {
  color: red;
}

.success {
  color: green;
}

/* Login */
.login {
  margin-top: 10px;
}

.login span {
  color: #2ecc71;
  cursor: pointer;
}

/* Error message box */
.error-box {
  background: #ffe6e6;
  color: #d8000c;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: left;
}


.success-box {
  background: #e6ffe6;
  color: #2e7d32;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}

@media (max-width: 768px)  {
    .signup-container{
      flex-direction: column;
      align-items: center;
    }
  
}